body{
	font-size: 20px;
	font-family: sans-serif;
	color:black;
}
.submit{
	font-family: sans-serif;
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}

